{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Perfil de {{ perfil_username }}</h1>
    <hr class="hr" />

    {% if current_user and current_user.id == user_id %}
    <a href="/edit-profile" class="btn btn-primary mb-4">Editar Perfil</a>
    {% endif %}

    <h2>Mis Reseñas</h2>
    <div class="row d-flex">
        {% for movie in movies %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ movie.Poster }}" class="card-img-top" alt="{{ movie.Title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.Title }}</h5>
                    <p class="card-text"><strong>Calificación:</strong> {{ movie.rating }}</p>
                    <p class="card-text">{{ movie.text }}</p>
                    <a href="/edit-review?reviewId={{ movie.review_id }}" class="btn btn-primary">Editar Reseña</a>
                    <a href="/delete-review?reviewId={{ movie.review_id }}" class="btn btn-danger">Eliminar Reseña</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}